.name {
  display: flex;
}

.info {
  /*display: inline-block;*/
  width: 65%;
  order: 2;
}

.photo {
  /*display: inline-block;*/
  width: 35%;
  order: 1;

}

.first-last-name,
.occupation {
  text-align: right;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 33.5px;
  margin-left: 0px;
}

.feature-work {
  display: flex;
  flex-wrap: wrap;
}

.feature-work-header {
  width: 100%
}

.project-one {
  order: 1;
  width: 50%;
}

.project-two {
  order: 2;
  width: 50%;
}

.project-three {
  order: 3;
  width: 100%;
}

.project-photo {
  width: 150px;
  height: 150px;
}
