main {
  margin-left: 20%;
  margin-right: 10%;
}

.main-photo {
  height: auto;
}

.feature-work-header {
  text-align: left;
}

.project-one {
  box-sizing: border-box;
  width: 33.3%;
  padding-right: 10px;
}

.project-two {
  box-sizing: border-box;
  width: 33.3%;
  padding-left: 5px;
  padding-right: 5px;
}

.project-three {
  box-sizing: border-box;
  width: 33.3%;
  padding-left: 10px;
}

.project-photo {
  margin-left: 0px;
  width: 100%;
}
